h1 {
  color: #817C52;
  text-align: center;
}
h2 {
  color: #817C52;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: #DACFC3;
}
p {
  color: #FCA806;
  text-align: center;
}
